.sider {
  
    background-color: #ffffff;
}
.header {
    background-color: #ffffff;

}
span.ant-avatar.ant-avatar-circle.ant-avatar-icon {
    font-size: 24px;
    float: right;
    margin-top: 10px;
    margin-right: 14px;
}

.ant-dropdown-menu{
	margin-top: 20px !important;
	
}
.title{
    text-align: center;
    
}
