
.justify-content-between{
 justify-content: space-around !important;
}

.logo{
    max-width: 35% !important;
    margin-left: 41px !important;
}

.logo-title{
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto Slab',serif;
    left: auto;
    bottom: 0;
    margin-left: 10px;
    font-weight: 800;
    word-spacing: 1px;
    text-align: center !important;
    
    
}

.srch-btn{
    height: 40px;
    
}
.header{
    background-color: #251f1f;
  
}


.input-prp{
    border-radius: 5% !important;
   
    text-decoration: none !important;
    height: 40px;
   
}
.srch-btn{
    padding-top: 0% !important;
    padding-bottom: 0% !important;
    border: none !important;
    height: 30px;
    border-radius: 0% !important;
    
   
    margin-left: -42px !important;
    margin-top: 5px !important;
    
}

    
.user-p{
    text-decoration: none;
    color: white;
    font-weight: 500;
    
   
}
.user-icon{
    text-decoration: none;
    color: white;
    text-transform: none;
    
}
.slider{
    text-decoration: none !important;
    color: white;
    
}
a{
    text-decoration: none !important;
}
.heart{
    text-decoration: none !important;
    color: white;
}
button.btn.bg-white.srch-btn.search-box {
    width: 32px;
}
input#form1 {
    width: 190px;
    border-radius: 6px !important;
}
.icon-bag{
    color: white;
}
.phone{
    color: #f4ae1a;
    font-size: 20px;
    font-family: 'Roboto Slab',serif;
    font-weight: bold;
    margin-left: 12rem!important;
}
.web{
    color: #f4ae1a;
    font-size: 15px;
    font-family: 'Roboto Slab',serif;

}
.nav-bar{
    background-color:#f4ae1a;
}
.dropdown:hover .dropdown-menu{
display: block;
}
.dropdown-menus{
    font-weight: 500;
    font-family: 'Helvetica Neue',sans-serif;
    font-size: 16px;
}
.order-item{
    margin-left: 400px;
}
a:hover {
    color: #4682B4 !important;
  }
.product-heading{
    color: #454545;
    font-size: 36px;
}


.section{
    background-color: #eee;
}
.mask{
    background-color: rgba(251, 251, 251, 0.15);
}
.card {
    width: 100%;
    border-radius: none !important;
}
.card-text{
    color: black;
    font-family: 'Helvetica Neue',sans-serif;
    font-size: 12px;
    font-weight: 500;
}
.card-big{
    width: 100%;
}
.card-head{
    cursor: pointer;
    font-family: 'Helvetica Neue',sans-serif;
    color: #428bca;
    text-align: left !important;
    padding-top: 10px;
}
.card-para{
    font-family: 'Helvetica Neue',sans-serif;
    font-size: 15px;
    line-height: 22px;
    color: #454545;
    text-align: left  !important;
    padding-top: 10px;
    line-height: 1.5em;
    
}
.card-btn{
    background-color: #f4ae1a;
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
    margin-top: 20px;

}