.gradient-custom-3 {
    /* fallback for old browsers */
    background: #01aba9;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #01aba9, rgba(143, 211, 244, 0.5));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #01aba9, rgba(143, 211, 244, 0.5))
    }
    .gradient-custom-4 {
    /* fallback for old browsers */
    background: #01aba9;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #01aba9, rgba(143, 211, 244, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #01aba9, #01aba9)
    }
    span{
        color: #ff0000;
    }
    /* <style>
    @media (min-width: 768px) {
        .formwidth: {
          {
            width: 75%;
          }
        }
        </style> */
        /* .formwidth.col-12{
            width: 100%;
        } */
        /* .formwidth.col-md-9{
            width: 70%;
        }
    .formwidth.col-lg-7{
width: 80%;
    } */
    .formwidth{
        min-width: 320px;
        padding:0px !important;
         }
   
   