.wpforms-container form#wpforms-form-1961 input[type='radio'] {
	display: none;
}

.wpforms-container form#wpforms-form-1961 input[type='radio'] + label {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	max-width: 340px;
	border: 0;
	text-align: center;
	white-space: nowrap;
	text-decoration: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background: transparent;
	border: 1.5px solid #000;
	color: #000;
	padding: 18px 1.5rem 19px;
	border-radius: 8px;
	cursor: pointer;
	font: 700 14px/1 SourceSansPro, helvetica, arial, sans-serif;
	min-width: 150px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	transition: background 0.3s, color 0.3s;
}

form#wpforms-form-1961 input[type='radio']:checked + label {
	background: #000;
	color: #fff;
}

.wpforms-container form#wpforms-form-1961 input[type='radio'] + label:hover {
	background: #32343e;
	color: #f3f4f4;
}

.wpforms-container
	form#wpforms-form-1961
	label[class='wpforms-field-label-inline'] {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	max-width: 340px;
	border: 0;
	text-align: center;
	white-space: nowrap;
	text-decoration: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background: transparent;
	border: 1.5px solid #000;
	color: #000;
	padding: 18px 1.5rem 19px;
	border-radius: 8px;
	cursor: pointer;
	font: 700 14px/1 SourceSansPro, helvetica, arial, sans-serif;
	min-width: 150px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	transition: background 0.3s, color 0.3s;
}
.wpforms-container
	form#wpforms-form-1961
	span[class='wpforms-image-choices-label'] {
	color: #000;
}

form#wpforms-form-1961
	.wpforms-selected
	label[class='wpforms-field-label-inline'] {
	background: #000;
	color: #fff;
}

.wpforms-container
	form#wpforms-form-1961
	label[class='wpforms-field-label-inline']:hover {
	background: #32343e;
	color: #f3f4f4;
}

.wpforms-container form#wpforms-form-1961 ul li {
	margin-top: 8px !important;
}

.wpforms-container form#wpforms-form-1853 h3,
.wpforms-container form#wpforms-form-1961 h3 {
	justify-content: space-between;
	flex-direction: row;
	line-height: 1;
	color: #000;
	letter-spacing: 0.0025em;
	font: 800 32px/32px 'League Spartan', helvetica, arial, sans-serif;
}

.wpforms-container form#wpforms-form-1961 h3 {
	margin-top: 150px;
}

.wpforms-container form#wpforms-form-1853 input[type='email'],
.wpforms-container form#wpforms-form-1853 input[type='tel'],
.wpforms-container form#wpforms-form-1853 input[type='text'],
.wpforms-container form#wpforms-form-1961 input[type='email'],
.wpforms-container form#wpforms-form-1961 input[type='tel'] {
	font-size: 16px;
	outline: 0;
	font-family: SourceSansPro, helvetica, arial, sans-serif;
	background: #f0f2f5;
	border-radius: 10px;
	height: 48px;
	line-height: 1;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 16px;
	border: 1.5px solid transparent;
	transition: all 0.15s ease-out;
}

.wpforms-container form#wpforms-form-1853 input[type='email'],
.wpforms-container form#wpforms-form-1853 input[type='tel'],
.wpforms-container form#wpforms-form-1853 input[type='text'] {
	border: 0.5px solid lightsteelblue;
}

.wpforms-container form#wpforms-form-1853 input[type='email']:focus,
.wpforms-container form#wpforms-form-1853 input[type='tel']:focus,
.wpforms-container form#wpforms-form-1853 input[type='text']:focus,
.wpforms-container form#wpforms-form-1853 input[type='text']:active,
.wpforms-container form#wpforms-form-1853 input[type='email']:active,
.wpforms-container form#wpforms-form-1853 input[type='tel']:active,
.wpforms-container form#wpforms-form-1961 input[type='email']:focus,
.wpforms-container form#wpforms-form-1961 input[type='tel']:focus,
.wpforms-container form#wpforms-form-1961 input[type='email']:active,
.wpforms-container form#wpforms-form-1961 input[type='tel']:active {
	border-color: #a2b1c1;
}

.wpforms-container form#wpforms-form-1853 button[type='submit'],
.wpforms-container form#wpforms-form-1961 button[type='submit'] {
	display: inline-block;
	vertical-align: middle;
	width: auto;
	border: 0;
	text-align: center;
	white-space: nowrap;
	text-decoration: none;
	user-select: none;
	appearance: none;
	background: #01aba9;
	color: #fff;
	padding: 18px 1.5rem 19px;
	border-radius: 8px;
	min-width: 210px;
	cursor: pointer;
	font: 700 14px/1 SourceSansPro, helvetica, arial, sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	white-space: nowrap;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: 100%;
	touch-action: manipulation;
	max-width: 100%;
	transition: background 0.3s, color 0.3s;
}

.wpforms-container form#wpforms-form-1853 button[type='submit'] {
	min-width: 150px;
}

.wpforms-container form#wpforms-form-1853 button[type='submit']:hover,
.wpforms-container form#wpforms-form-1961 button[type='submit']:hover {
	background: #32343e;
}

html {
	scroll-behavior: smooth;
}
